
@{
    ViewBag.Title = "DayAndMonth";
}

<h2>DayAndMonth</h2>

<form action="/Home/NumbersAPI">
    <input type="number" name="day" placeholder="enter day (number)" />
    <input type="number" name="month" />
    <input type="submit" value="submit" />
</form>

