@{
    ViewBag.Title = "Home Page";
}

<h2>Get a Random Fact About a Date</h2>

<form action="/Home/NumbersAPI">
    <input type="number" name="day" id="day" placeholder="enter day (number)" /><br />
    <span id="DayWarning"></span><br />
    <input type="number" name="month" id="month" placeholder="enter month (number)" /><br />
    <span id="MonthWarning"></span><br />
    <input type="submit" value="submit" onclick="return CheckDay() && CheckMonth()" />
</form>

<script>
    function CheckDay() {

        var day = document.getElementById("day").value;
        if (day < 1 || day > 31) {
                document.getElementById("DayWarning").innerHTML =
                "<b>" + "Day: choose a number from 1 - 31</b>";
            return false;
        }
        return true;
    }

    function CheckMonth() {

        var month = document.getElementById("month").value;
        if (month < 1 || month > 12) {
                document.getElementById("MonthWarning").innerHTML =
                "<b>" + "Month: choose a number from 1 - 12</b>";
            return false;
        }
        return true;
    }
</script>